

a{
    text-decoration: none;
    color: #1a1a1a;
}

.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.home-article{
    width: 100%;
    margin-inline: auto;
    border-radius: 8px;
    background-color: #fff;
    transition: all 0.2s ease;
    /* outline: 1px solid #5c5c5c; */
    /* box-shadow: 0 8px 0 0px #5b5fc7; */
    box-shadow: 4px 8px 0 0px #8589ff;
    overflow: hidden;
    margin-top: 24px;
}

.home-page:last-child{
    margin-bottom: 24px;
}

.home-article .image-container{
    max-width: 300px;
    width: 100%;
    min-height: 170px;
    max-height: 170px;
    overflow: hidden;
}

.home-article .image-container img{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
}

.home-article .article-description{
    padding: 8px;
    background: #c5c9ff;
    z-index: 100;
}

.home-article .article-name{
    display: inline-block;
    position: relative;
}

.home-article .article-name::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5b5fc7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.home-article:hover .article-name::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.home-article:hover{
    transform: translateY(8px) translateX(4px);
    box-shadow: 0 0px 0 0px #5b5fc7;
}
  

@media screen and (min-width: 768px) {
    .home-page{
        flex-direction: row;
    }

    .home-page .home-article{
        margin-right: 16px;
        width: auto;
    }
    
    .home-article:last-child{
        margin-top: 0;
    }
}
